body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

label {
  padding-bottom: 10px;
}

input,
textarea {
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  padding: 8px 5px;
  margin-left: 0;
  color: #444444;
  font-size: 16px;
}

form {
  width: 100%;
}

.section {
  display: flex;
}

.formWrapper {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
}

.field {
  padding: 8px 8px 8px 0;
}

.name-field {
  display: flex;
}

.first {
  width: 100%;
  padding-right: 10px;
}

.last {
  width: 100%;
  padding-left: 10px;
}
.email,
.company,
.phone,
.textarea,
.referrer {
  width: 100%;
}

.formOne {
  flex: 0 0 35%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.formTwo {
  flex: 0 0 55%;
  height: 100%;
  padding-bottom: 20px;
}

.form-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.button button {
  background-color: #713ee5;
  border: none;
  height: 40px;
  color: #ffffff;
  border-radius: 3px;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .formWrapper {
    height: 100%;
    flex-wrap: wrap;
  }

  .formOne {
    order: 2;
    flex: 0 0 75%;
    margin: 0 auto;
  }

  .formTwo {
    width: 100%;
    height: 30%;
    order: 1;
    flex: 0 0 100%;
  }
}
